.nav {
	list-style: none;
	width: 250px;
	font-family: sans-serif;
	transition: left .3s cubic-bezier(0.820, 0.085, 0.395, 0.895);
	top: 0px;
	left: 0;
	position: fixed;
	height: 100vh;
	flex-direction: column;
	background-color: white;
	display: flex;

	&.nav-closed {
		left: -300px;
		position: fixed;
		transition: left .3s cubic-bezier(0.820, 0.085, 0.395, 0.895);
	}

	& .nav-delimiter {
		border-bottom: solid 1px grey;
		display: inline-block;
		width: 100%;
	}
}
